<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/jumbotron/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="http://getbootstrap.com/favicon.ico">

<title>{% block title %}Welcome!{% endblock %}</title>
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />

{% block stylesheets %}{% endblock %}
<!-- Bootstrap core CSS -->

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Skeletons ONLINE</a>
      </div>
      <div id="navbar" class="navbar-collapse">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="nav navbar-right">
          <a id="registration"  class="btn btn-default" href="/registration"><span class="glyphicon glyphicon-user"></span> Inscription</a>
          {{ form_end(form) }}
        </div>
        {% else %}
          {% if app.user.currentchar != NULL%}
            <div class="nav navbar-right">
            <img class="icon" src="{{asset('images/sword.svg')}}" alt="sword" onclick="window.location='/attackLog';">
            <span class='badge' id="attack_badge"></span>
            <img class="icon" src="{{asset('images/env.svg')}}" alt="mess" onclick="window.location='/messagerie';">
          {%endif%}
          <a id="logout"  class="btn btn-default" href="/logout"><span class="glyphicon glyphicon-user"></span> Déconnexion</a>
        </div>
        {% endif %}
        {% block menu %}{% endblock %}
        <!--
        <form class="navbar-form navbar-right">
  <input type="button" value="Construction" href="/construction" id="button_building"/>
  <input type="button" value="Inscription" href="/registration" id="button_registration"/>
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" id="input_email">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" id="input_password">
          </div>
    <input type="button" class="btn btn-success" value="Sign In" id="button_login"/>
    -->
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
</br>
</br>
</br>
{% block body %}{% endblock %}
{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.currentchar != NULL%}
<script>
  function increment(compteur) {
        window.setInterval(
        function () {
            //console.log(compteur);
            compteur += 1;
            if(compteur % 3==0)
            {
              $.post('{{ path('update_attack_log') }}', { pseudo:"{{app.user.currentchar}}",
              player:"{{app.user.username}}" }, function(data)
              {
                if(data=='')
                {
                  $("#attack_badge").innerHTML = "";
                  console.log("PAS DATTAQUE");
                }
                else
                {
                  console.log("ATK");
                  $("#attack_badge").innerHTML = "!";
                }
              });
              compteur = 0;

            }


        }, 1000);
    };
  increment(0);
</script>
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>
