{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/accueil.css')}}">
{% endblock %}

{% block menu %}

<h1> Bonjour {{pseudo}}</h1>
<ul class="nav navbar-nav">
      <li><a href="{{ path('accueil', {'pseudo': pseudo}) }}">Accueil</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personnages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for perso in persos %}
              <li><a href="{{ path('unite', {'pseudo':pseudo,'perso': perso.pseudo}) }}"><img src='images/{{perso.image}}' alt="image du personnage" class="img-responsive img-circle">{{perso.pseudo}}</a></li>
            {% endfor %}
        </ul>
      </li>
      <li><a href="/carte">Carte</a></li>
</ul>
{% endblock %}


{% block body %}
{% block javascripts %}
<script type="text/javascript">
    function increment(index,os, pierre, metal, human, persoPseudo) {
        window.setInterval(
        function () {
            os += 1;
            pierre += 1;
            metal += 1;
            var xOs = document.getElementsByClassName("os");
            xOs[index].innerHTML ="Os <span class='badge'>"+os+"</span>";
            var xPierre = document.getElementsByClassName("pierre");
            xPierre[index].innerHTML = "Pierre <span class='badge'>"+pierre+"</span>";
            var xMetal = document.getElementsByClassName("metal");
            xMetal[index].innerHTML = "Metal <span class='badge'>"+metal+"</span>";
            var xHuman = document.getElementsByClassName("human");
            xHuman[index].innerHTML = "Humain <span class='badge'>"+human+"</span>";
        }, 1000);
        window.setInterval(
        function () {
            human +=1;
            var xHuman = document.getElementsByClassName("human");
            xHuman[index].innerHTML = "Humain <span class='badge'>"+human+"</span>";
        }, 10000);
        window.setInterval(
            function () {
                var ressource = {};
                ressource["os"] = os;
                ressource["pierre"] =pierre;
                ressource["metal"] =metal;
                ressource["human"] =human;
                $.ajax({
                   type: 'POST',
                   url: '{{ path("save") }}',
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify({'ressources': ressource, 'perso': persoPseudo}),
                   dataType: 'json',
                   success: function(response) {
                       console.log(response);
                   }
               });
          }, 5000);
    };
</script>
{% endblock %}

<br><br><br>
<a class="btn btn-default" href="{{ path('createPerso', {'pseudo': pseudo}) }}">Création de personnage</a>
{% for perso in persos %}
<div class="col-sm-6 perso">
    <p>
        <a class="unite" href="{{ path('unite', {'pseudo':pseudo,'perso': perso.pseudo}) }}">
            <img src='images/{{perso.image}}' alt="image du personnage" class="img-responsive img-circle">
            {{perso.pseudo}}
        </a>
    </p>
    {% for ressource in perso.ressources %}
    <script>
        increment({{loop.parent.loop.index0}},{{ressource.os}}, {{ressource.pierre}}, {{ressource.metal}}, {{ressource.human}},'{{ perso.pseudo }}');
    </script>
        <p>
        <span class="os"></span>
        <span class="pierre"></span>
        <span class="metal"></span>
        <span class="human"></span></p>
    {% endfor %}
    {% for bat in perso.buildings %}
        <p>Mine de os <span class="badge">{{bat.bonesMine}}</span>
        Mine de pierre <span class="badge">{{bat.stoneMine}}</span>
        Mine de metal <span class="badge">{{bat.gemMine}}</span></p>
        <p>Prison d'humains <span class="badge">{{bat.stoneMine}}</span>
        Bâtiment des squelettes <span class="badge">{{bat.stoneMine}}</span>
        Bâtiment des mages Squelette <span class="badge">{{bat.stoneMine}}</span></p>
    {% endfor %}
    {% for unit in perso.units %}
        <p>Squelette(s) <span class="badge">{{unit.skeleton}}</span>
        Squelette(s) guerrier <span class="badge">{{unit.skeletonWar}}</span>
        Squelette(s) mage <span class="badge">{{unit.mageSkeleton}}</span></p>
    {% endfor %}
{% endfor %}
</div>
<p id="demo"></p>
{% endblock %}
