{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/accueil.css')}}">
{% endblock %}

{% block menu %}

<h1> Bonjour {{pseudo}}</h1>
<ul class="nav navbar-nav">
      <li><a href="/royaumes">Royaumes</a></li>
      <li><a href="/carte">Carte</a></li>
</ul>
<div class="nav navbar-right">
    <!-- <ul class="ressources">
          <li id="os"></li>
          <li id="pierre"></li>
          <li id="metal"></li>
          <li id="human"></li>
    </ul> -->
	<a id="logout" class="btn btn-default" href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a>
</div>
{% endblock %}



{% block body %}
{% block javascripts %}
<script type="text/javascript">
    function increment(os, pierre, metal) {
        window.setInterval(
        function () {
            os += 1;
            pierre += 1;
            metal += 1;
            document.getElementById("os").innerHTML ="Os <span class='badge'>"+os+"</span>" ;
            document.getElementById("pierre").innerHTML = "Pierre <span class='badge'>"+pierre+"</span>";
            document.getElementById("metal").innerHTML = "Metal <span class='badge'>"+metal+"</span>";
        }, 1000);
    };
</script>

{% endblock %}
<br><br><br>
<p id="coucou"></p>
<a class="btn btn-default" href="{{ path('createPerso', {'pseudo': pseudo}) }}">Création de personnage</a>
{% for perso in persos %}
    <p><img src='images/{{perso.image}}' alt="image du personnage" class="img-responsive img-circle">
        {{perso.pseudo}}</p>
    {% for ressource in perso.ressources %}
        <script>increment({{ressource.os}}, {{ressource.pierre}}, {{ressource.metal}})</script>
        <p><span id="os"></span>
        <span id="pierre"></span>
        <span id="metal"></span>
        Humain <span class="badge">{{ressource.human}}</span></p>
        <!-- <script type="text/javascript">
            window.setInterval(
                function () {
                    $.ajax({
                       type: 'POST',
                       url: '{ path('ressource_new') }}',
                       contentType: 'application/json; charset=utf-8',
                       data: JSON.stringify({ressource}}),
                       dataType: 'json',
                       success: function(response) {
                           console.log(response);
                       }
                   });
              }, 500000);
        </script> -->
    {% endfor %}
    {% for bat in perso.buildings %}
        <p>Mine de os <span class="badge">{{bat.bonesMine}}</span>
        Mine de pierre <span class="badge">{{bat.stoneMine}}</span>
        Mine de metal <span class="badge">{{bat.gemMine}}</span></p>
        <p>Prison d'humains <span class="badge">{{bat.stoneMine}}</span>
        Bâtiment des squelettes <span class="badge">{{bat.stoneMine}}</span>
        Bâtiment des mages Squelette <span class="badge">{{bat.stoneMine}}</span></p>
    {% endfor %}
    {% for unit in perso.units %}
        <p>Squelette(s) <span class="badge">{{unit.skeleton}}</span>
        Squelette(s) guerrier <span class="badge">{{unit.skeletonWar}}</span>
        Squelette(s) mage <span class="badge">{{unit.mageSkeleton}}</span></p>
    {% endfor %}
{% endfor %}
<p id="demo"></p>
{% endblock %}
