{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" media="screen" />

{% endblock %}



{% block body %}
<div id="message_form">
<p>Envoyer un message : </p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<input type="submit" value="Retourner à la carte" 
    onclick="window.location='/carte';" /> 
</div>

<div id="attack_form">
    <p>Vous avez {{ current_char.units[0].skeleton }} squelettes.</p>
    <input type="number" step="1" value="0" min="0" max="{{ current_char.units[0].skeleton }}"/>
    <p>Vous avez {{ current_char.units[0].skeletonWar }} guerriers squelettes.</p>
    <input type="number" step="1" value="0" min="0" max="{{ current_char.units[0].skeletonWar }}"/>
    <p>Vous avez {{ current_char.units[0].mageSkeleton }} squelettes mages.</p>
    <input type="number" step="1" value="0" min="0" max="{{ current_char.units[0].mageSkeleton }}"/>

    <button id="attack_go">ATTAQUER.</button>
    <input type="submit" value="Retourner à la carte" 
    onclick="window.location='/carte';" /> 

</div>
<div id="Map">

<div id="direction">
    <button id="region_a_gauche"><<<</button>
    <button id="region_a_droite">>>></button>
</div>
<table id="box-table-a">
    <thead>
    	<tr>
        	<th scope="col">Location</th>
            <th scope="col">Chef</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for location in map %}    
        <tr>
            <td>{{ location.emplacement }}:{{ location.region }}</td>
            {% if location.character.pseudo is defined %}
                <td>{{ location.character.pseudo }}</td>
                <td>
                    <button class="attaquer" 
                    value="{{ location.emplacement }}"
                    player="{{ location.character.pseudo }}"
                     >Attaquer {{ location.character.pseudo }}</button>

                    <button class="message"
                    value="{{ location.emplacement }}"
                    player="{{ location.character.player.pseudo }}"
                    >Envoyer un message</button>
                </td>
            {% else %}
                <td>Vide</td>
                <td>_______________</td>
            {% endif%}
            
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>

{% endblock %}

{% block javascripts %}


<script>

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
    };
    

    {% if app.request.get('to') %}
        $("#Map").hide();
        $("#attack_form").hide();
        $("#message_form").show();
    {% elseif app.request.get('atk')%}
        $("#Map").hide();
        $("#attack_form").show();
        $("#message_form").hide();
    {% else %}
        $("#message_form").hide();
        $("#Map").show(); 
    {% endif %}

    {% if text is defined %}

        var text = "{{ text }}";
        var sender = "{{ sender }}";
        var mess_type = "{{ mess_type }}";
        var to = "{{ to }}";

       $.post('{{ path('send') }}', {text:text, sender:sender, mess_type:mess_type, to:to}, function(data)
        {
            $("#message_form").hide();
            $('#Map').show();
        });      

    {% endif%}    

    $(".message").click(function()
    {
        var emplacement = $(this).val();
        var player_envoie = $(this).attr('player');
        window.location = '/carte?to=' + player_envoie;
        $("#message_form").show();
   
    });

    $(".attaquer").click(function()
    {
        var emplacement = $(this).val();
        var character_to_attack = $(this).attr('player');
        console.log(emplacement);
        console.log(character_to_attack);
        window.location = '/carte?atk=' + character_to_attack;
        $("#attack_form").show();
    });

    $("#attack_go").click(function()
    {
        var character_to_attack_pseudo = getUrlParameter('atk');
        console.log("{{ current_char.pseudo }}");

        $.post('{{ path('GOGOAttack') }}', {character_to_attack_pseudo:character_to_attack_pseudo, current_char_pseudo:"{{ current_char.pseudo }}" }, function(data)
        {
            console.log(data);

        });   

    });

    

    {% if text is not defined %}

        $("#region_a_droite").click(function()
        {
            var region = {{ region }};
            region = region + 1;
            if(region <= 20)
                window.location = '/carte?action=droite&region='+region
            else
                alert("Il n'y a pas plus de 20 régions");     
        });

        $("#region_a_gauche").click(function()
        {
            var region = {{ region }};
            region = region - 1;
            if(region > 0)
                window.location = '/carte?action=droite&region='+region;   
            else
                alert("Il n'y a pas de régions 0");
                  
        });

    {% endif %}
</script>
{% endblock %}